.chart{
	margin-top: 50px;
	border: 1px solid red;
	text-align:center;
}

/*svg{*/
/*	display: block;
	margin: auto;*/

/*	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);*/
/*}*/

.axis path, .axis line {
    fill: none;
    /*stroke: steelblue;*/
    stroke: #000;
    /*stroke-width: 0.25px;*/
}

.axis .grid-line {
    stroke: #000;
    shape-rendering: crispedges;
    stroke-opacity: 0.2;
}
 
.axis text {
    font: 10px Verdana;
}

.dot {
    stroke: steelblue;
    fill: lightblue;
}